.container {
  background-color: #230674;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 100px;
  position: relative;
  padding-left: 4em;
  padding-right: 4em;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.listItem {
  padding: 4px 6px;
}

.listItem > a {
  text-decoration: none;
  color: #fff;
}